# QotNews settings
# edit this file and save it as settings.py

# Feed Lengths
# Number of top items from each site to pull
# set to 0 to disable that site
NUM_HACKERNEWS = 15
NUM_LOBSTERS = 10
NUM_REDDIT = 15
NUM_TILDES = 5

# Meilisearch server URL
# Leave blank if not using search
#MEILI_URL = 'http://127.0.0.1:7700/'
MEILI_URL = ''

# Readerserver URL
# Leave blank if not using, but that defeats the whole point
READER_URL = 'http://127.0.0.1:33843/'

# Reddit account info
# leave blank if not using Reddit
REDDIT_CLIENT_ID = ''
REDDIT_CLIENT_SECRET = ''
REDDIT_USER_AGENT = ''

SUBREDDITS = [
    'Economics',
    'AcademicPhilosophy',
    'DepthHub',
    'Foodforthought',
    'HistoryofIdeas',
    'LaymanJournals',
    'PhilosophyofScience',
    'StateOfTheUnion',
    'TheAgora',
    'TrueReddit',
    'culturalstudies',
    'hardscience',
    'indepthsports',
    'indepthstories',
    'ludology',
    'neurophilosophy',
    'resilientcommunities',
    'worldevents',
    'StallmanWasRight',
    'EverythingScience',
    'longevity',
]
